.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #804FB3;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 5;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 50px; 
  padding-right: 10 20px;
  font-weight: bold;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


#about-me {
  padding-top: 50px;
  color: red;
}